:root {
  --grid-border-color: #e1e1e1;
  --grid-border: 1px solid #e1e1e1;
  --grid-contrast-border: 1px solid #e1e1e1;
  --grid-group-border: 2px solid #a1a1a9;
  --grid-general-bold-border: 2px solid #d4d4d4;
  --grid-text-color: #000000;
  --grid-scroll-bgcolor: #fafafa;
  --grid-scroll-drag-color: #888888;
  --grid-checkbox-bgcolor: #0075ff;
  --grid-shadow-border: 2px solid #cccccc;
  --grid-header-border: 1px solid #e1e1e1;
  --grid-header-cell-border: 1px solid #e1e1e1;
  --grid-header-cell-bottom-border: 1px solid #e1e1e1;
  --grid-rowspan-bgcolor: #e8e8e8;
  --grid-filtering-bgcolor: #ffffff;
  --grid-filtering-inputtext-bgcolor: #e5e2e2;
  --grid-clear-icon-color: #000000;
  --grid-sorting-icon-color: rgba(2, 117, 216, 1);
  --grid-filtering-icon-color: #000000;
  --grid-filter-active-bgcolor: rgba(144, 238, 144, 0.3);
  --grid-context-menu-bgcolor: #ffffff;
  --grid-context-menu-border-color: #dadce0;
  --grid-context-menu-shadow-color: rgba(0, 0, 0, 0.5);
  --grid-context-menu-item-hover-color: #c8c8c9;
  --grid-row-even-bgcolor: rgba(255, 255, 255, 0.1);
  --grid-row-odd-bgcolor: rgba(225, 225, 225, 0.1);
  --grid-row-hover-bgcolor: rgba(225, 225, 225, 0.4);
  --grid-row-selected-bgcolor: rgba(222, 255, 235, 0.8);
  --grid-accordion-icon-color: #000000;
  --grid-accordion-row-bgcolor: #f1eeee;
  --grid-row-pin-left-bgcolor: #f3f2f2;
  --grid-row-pin-right-bgcolor: #f3f2f2;
  --grid-table-footer-bgcolor: rgba(212, 214, 221, 0.4);
  --grid-nodata-bgcolor: rgba(228, 228, 228, 0.4);
  --grid-table-header-bgcolor: #ffffff;
  --grid-table-header-pin-left-bgcolor: #f7f7f7;
  --grid-table-header-pin-right-bgcolor: #f7f7f7;
  --grid-drag-shadow-bg-color: #ededed;
  --grid-drag-shadow-border: 1px dashed #999999;
  --grid-bgcolor: #f9f9f9;
  --grid-active-bgcolor: #0275d8;
  --grid-active-text-color: #ffffff;
  --grid-border-color-soft: #d4d4d4;
  --grid-trackBgColor: #eeeeee;
  --grid-trackColor: #888888;
  --grid-item-hover-bgcolor: rgba(2, 117, 216, 0.2);
  --grid-footer-button-bgcolor: #ededed;
  --grid-status-enabled-color: rgba(13, 191, 19, 0.8);
  --grid-status-disabled-color: rgba(127, 139, 132, 0.8);
  --grid-main-bgcolor: #ffffff;
  --grid-button-bgcolor: #f5f5f5;
  --grid-button-icon-color: #000000;
  --grid-panel-bgcolor: #ffffff;
  --grid-panel-item-hovercolor: rgba(2, 117, 216, 0.3);
  --grid-panel-select-button-bgcolor: #ededed;
  --grid-setting-icon-active-color: #28a745;
  --grid-selected-color-1: #1d2639;
  --grid-selected-color-2: #30446b;
}

[data-theme='default-dark'] {
  --grid-border-color: #000000;
  --grid-border: 1px solid #1f2225;
  --grid-contrast-border: 1px solid #000000;
  --grid-group-border: 2px solid #5e626f;
  --grid-general-bold-border: 2px solid #000000;
  --grid-text-color: #d4d4d4;
  --grid-scroll-bgcolor: #25272b;
  --grid-scroll-drag-color: #8f8f8f;
  --grid-checkbox-bgcolor: #0075ff;
  --grid-shadow-border: 2px solid #151719;
  --grid-header-border: 1px solid #111315;
  --grid-header-cell-border: 1px solid #111315;
  --grid-header-cell-bottom-border: 1px solid #111315;
  --grid-rowspan-bgcolor: #444141;
  --grid-filtering-bgcolor: #2f333c;
  --grid-filtering-inputtext-bgcolor: #262930;
  --grid-clear-icon-color: #d4d4d4;
  --grid-sorting-icon-color: rgba(245, 191, 66, 1);
  --grid-filtering-icon-color: #d4d4d4;
  --grid-filter-active-bgcolor: rgba(144, 238, 144, 0.3);
  --grid-context-menu-bgcolor: #333333;
  --grid-context-menu-border-color: #dadce0;
  --grid-context-menu-shadow-color: rgba(0, 0, 0, 0.5);
  --grid-context-menu-item-hover-color: #666666;
  --grid-row-even-bgcolor: rgba(37, 39, 43, 0.3);
  --grid-row-odd-bgcolor: rgba(250, 250, 250, 0.01);
  --grid-row-hover-bgcolor: rgba(6, 7, 8, 0.2);
  --grid-row-selected-bgcolor: rgba(175, 229, 255, 0.3);
  --grid-accordion-icon-color: #ffffff;
  --grid-accordion-row-bgcolor: #25272b;
  --grid-row-pin-left-bgcolor: #35363c;
  --grid-row-pin-right-bgcolor: #35363c;
  --grid-table-footer-bgcolor: rgba(85, 85, 85, 0.4);
  --grid-nodata-bgcolor: rgba(25, 26, 26, 0.4);
  --grid-table-header-bgcolor: #1d2025;
  --grid-table-header-pin-left-bgcolor: #34373b;
  --grid-table-header-pin-right-bgcolor: #34373b;
  --grid-drag-shadow-bg-color: #000000;
  --grid-drag-shadow-border: 1px dashed #ffffff;
  --grid-bgcolor: #181a1f;
  --grid-active-bgcolor: #dadce0;
  --grid-active-text-color: #ffffff;
  --grid-border-color-soft: #000000;
  --grid-trackBgColor: #232529;
  --grid-trackColor: #8f8f8f;
  --grid-item-hover-bgcolor: rgba(2, 117, 216, 0.2);
  --grid-footer-button-bgcolor: #666666;
  --grid-status-enabled-color: rgba(13, 191, 19, 0.8);
  --grid-status-disabled-color: rgba(127, 139, 132, 0.8);
  --grid-main-bgcolor: #2f333c;
  --grid-button-bgcolor: #1d2025;
  --grid-button-icon-color: #d4d4d4;
  --grid-panel-bgcolor: #2f333c;
  --grid-panel-item-hovercolor: rgba(2, 117, 216, 0.3);
  --grid-panel-select-button-bgcolor: #666666;
  --grid-setting-icon-active-color: #28a745;
  --grid-selected-color-1: #5a5e67;
  --grid-selected-color-2: #3c414a;
}

[data-theme='epias-gip'] {
  --grid-border-color: #2c5697;
  --grid-border: 1px solid rgba(255, 255, 255, 0);
  --grid-contrast-border: 1px solid #e1e1e1;
  --grid-group-border: 2px solid #071d49;
  --grid-general-bold-border: 2px solid #d4d4d4;
  --grid-text-color: #000000;
  --grid-scroll-bgcolor: #fafafa;
  --grid-scroll-drag-color: #888888;
  --grid-checkbox-bgcolor: #0075ff;
  --grid-shadow-border: 2px solid #002f7f;
  --grid-header-border: 1px solid rgba(255, 255, 255, 0);
  --grid-header-cell-border: rgba(255, 255, 255, 0);
  --grid-header-cell-bottom-border: none;
  --grid-rowspan-bgcolor: #e8e8e8;
  --grid-filtering-bgcolor: #ffffff;
  --grid-filtering-inputtext-bgcolor: #e5e2e2;
  --grid-clear-icon-color: #000000;
  --grid-sorting-icon-color: #2c5697;
  --grid-filtering-icon-color: #002f7f;
  --grid-filter-active-bgcolor: rgba(144, 238, 144, 0.3);
  --grid-context-menu-bgcolor: #ffffff;
  --grid-context-menu-border-color: #dadce0;
  --grid-context-menu-shadow-color: rgba(0, 0, 0, 0.5);
  --grid-context-menu-item-hover-color: #c8c8c9;
  --grid-row-even-bgcolor: rgba(255, 255, 255, 0.1);
  --grid-row-odd-bgcolor: rgba(225, 225, 225, 0.4);
  --grid-row-hover-bgcolor: rgba(165, 165, 165, 0.4);
  --grid-row-selected-bgcolor: rgba(222, 255, 235, 0.8);
  --grid-accordion-icon-color: #000000;
  --grid-accordion-row-bgcolor: #f1eeee;
  --grid-row-pin-left-bgcolor: rgba(255, 255, 255, 0);
  --grid-row-pin-right-bgcolor: rgba(255, 255, 255, 0);
  --grid-table-footer-bgcolor: rgba(212, 214, 221, 0.4);
  --grid-nodata-bgcolor: rgba(228, 228, 228, 0.9);
  --grid-table-header-bgcolor: #ffffff;
  --grid-table-header-pin-left-bgcolor: rgba(255, 255, 255, 0);
  --grid-table-header-pin-right-bgcolor: rgba(255, 255, 255, 0);
  --grid-drag-shadow-bg-color: #ededed;
  --grid-drag-shadow-border: 1px dashed #999999;
  --grid-bgcolor: #f9f9f9;
  --grid-active-bgcolor: #2c5697;
  --grid-active-text-color: #ffffff;
  --grid-border-color-soft: #d4d4d4;
  --grid-trackBgColor: #eeeeee;
  --grid-trackColor: #888888;
  --grid-item-hover-bgcolor: rgba(2, 117, 216, 0.2);
  --grid-footer-button-bgcolor: #ededed;
  --grid-status-enabled-color: rgba(13, 191, 19, 0.8);
  --grid-status-disabled-color: rgba(127, 139, 132, 0.8);
  --grid-main-bgcolor: #ffffff;
  --grid-button-bgcolor: #ffffff;
  --grid-button-icon-color: #002f7f;
  --grid-panel-bgcolor: #ffffff;
  --grid-panel-item-hovercolor: rgba(2, 117, 216, 0.3);
  --grid-panel-select-button-bgcolor: #ededed;
  --grid-setting-icon-active-color: #28a745;
  --grid-selected-color-1: #071d49;
  --grid-selected-color-2: #071d49;
}
