@mixin inconeltable-keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin inconeltable-animation($str) {
  animation: #{$str};
}

@mixin inconeltable-cross-browser($property, $css) {
  #{$property}: $css;
}

@function inconeltable-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      inconeltable-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function inconeltable-url-encode($string) {
  $map: (
    '%': '%25',
    '<': '%3C',
    '>': '%3E',
    ' ': '%20',
    '!': '%21',
    '*': '%2A',
    "'": '%27',
    '"': '%22',
    '(': '%28',
    ')': '%29',
    ';': '%3B',
    ':': '%3A',
    '@': '%40',
    '&': '%26',
    '=': '%3D',
    '+': '%2B',
    '$': '%24',
    ',': '%2C',
    '/': '%2F',
    '?': '%3F',
    '#': '%23',
    '[': '%5B',
    ']': '%5D',
  );

  $new: $string;
  @each $search, $replace in $map {
    $new: inconeltable-replace($new, $search, $replace);
  }
  @return $new;
}

@function inconeltable-get-svg($svg, $color) {
  $svg: inconeltable-replace($svg, 'inconel-color', $color);

  @return url('data:image/svg+xml;charset=utf8,#{inconeltable-url-encode($svg)}');
}
